<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản lý Domain</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="bg-gray-100 min-h-screen">
    <div class="container mx-auto px-4 py-8">
      <h1 class="text-3xl font-bold mb-6 text-center">
        Quản lý danh sách Block và White
      </h1>

      <input
        type="text"
        id="searchInput"
        placeholder="Tìm kiếm domain..."
        class="w-3/4 px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 mb-10"
        data-id="<%= idIp %>"
      />

      <div class="bg-white rounded-2xl shadow-md overflow-hidden">
        <div class="flex">
          <button
            class="tab-btn py-3 px-6 w-1/2 font-semibold text-gray-700 bg-gray-200 hover:bg-gray-300 focus:outline-none rounded-tl-2xl"
            data-tab="blocklist"
          >
            Block List
          </button>
          <button
            class="tab-btn py-3 px-6 w-1/2 font-semibold text-gray-700 bg-gray-200 hover:bg-gray-300 focus:outline-none rounded-tr-2xl"
            data-tab="whitelist"
          >
            White List
          </button>
        </div>
        <div class="p-6">
          <div id="blocklist" class="tab-content">
            <div class="mb-4 flex justify-between items-center">
              <h2 class="text-xl font-semibold mb-4">Block List</h2>
              <button
                id="addDomainBtn"
                class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 mr-14"
              >
                Add Domain
              </button>
            </div>
            <ul class="space-y-3" id="blocklist-items">
              <% blockDomains.forEach(domain => { %>
              <li
                class="domain-item bg-gray-100 p-3 rounded-xl flex justify-between items-center"
                data-id="<%= domain.id %>"
              >
                <span><%= domain.domainName %></span>
                <div class="flex items-center space-x-3">
                  <button
                    class="editDomainBtn text-blue-500 hover:text-blue-600 focus:outline-none"
                    data-id="<%= domain.id %>"
                    data-name="<%= domain.domainName %>"
                    data-list="<%= domain.subdomain %>"
                  ></button>
                  <button
                    class="whileListDomainBtn px-4 py-2 bg-green-500 text-white rounded-lg hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500"
                  >
                    Move to White List
                  </button>
                  <i
                    class="bx bx-edit-alt text-blue-500 hover:text-blue-600 focus:outline-none editDomainBtn"
                    data-id="<%= domain.id %>"
                    data-name="<%= domain.domainName %>"
                    data-list="<%= domain.subdomain %>"
                    data-label="<%= domain.domainLable %>"
                  ></i>

                  <i
                    class="bx bx-trash deleteDomainBtn text-red-500 hover:text-red-600 focus:outline-none"
                  ></i>
                </div>
              </li>
              <% }) %>
            </ul>
          </div>
          <div id="whitelist" class="tab-content hidden">
            <h2 class="text-xl font-semibold mb-4">White List</h2>
            <ul class="space-y-3" id="whitelist-items">
              <% whileDomains.forEach(domain => { %>
              <li
                class="domain-item bg-gray-100 p-3 rounded-xl flex justify-between items-center"
                data-id="<%= domain.id %>"
              >
                <span><%= domain.domainName %></span>
                <div class="flex items-center space-x-3">
                  <button
                    class="editDomainBtn text-blue-500 hover:text-blue-600 focus:outline-none"
                    data-id="<%= domain.id %>"
                    data-name="<%= domain.domainName %>"
                    data-list="<%= domain.subdomain %>"
                  ></button>
                  <button
                    class="blockListDomainBtn px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500"
                  >
                    Move to Block List
                  </button>
                  <i
                    class="bx bx-edit-alt text-blue-500 hover:text-blue-600 focus:outline-none editDomainBtn"
                    data-id="<%= domain.id %>"
                    data-name="<%= domain.domainName %>"
                    data-list="<%= domain.subdomain %>"
                    data-label="<%= domain.domainLable %>"
                  ></i>

                  <i
                    class="bx bx-trash deleteDomainBtn text-red-500 hover:text-red-600 focus:outline-none"
                  ></i>
                </div>
              </li>
              <% }) %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Add Domain Modal -->
    <%- include('./popup/model.ejs') %>
    <script src="/javascripts/blockWhiteList.js"></script>
  </body>
</html>
