<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản lý Proxy</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100">
    <div class="container mx-auto px-4 py-8">
      <h2 class="text-3xl font-bold mb-6">Quản lý Proxy</h2>
      <div class="mb-4 space-x-2">
        <button
          id="allowAllBtn"
          class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded"
        >
          Cho phép tất cả Ip truy cập
        </button>
        <button
          id="blockAllBtn"
          class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded"
        >
          Chặn tất cả Ip truy cập
        </button>
      </div>
      <div class="bg-white shadow-md rounded-lg overflow-hidden">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th
                scope="col"
                class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider"
              >
                #
              </th>
              <th
                scope="col"
                class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider"
              >
                Domain
              </th>
              <th
                scope="col"
                class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider"
              >
                Trạng thái
              </th>
              <th
                scope="col"
                class="px-6 py-4 text-left text-sm font-medium text-gray-500 uppercase tracking-wider"
              >
                Hành động
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <% data.forEach((data, index) => { %>
            <tr>
              <td class="px-6 py-4 whitespace-nowrap text-base text-gray-500">
                <%= index + 1 %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-base text-gray-900">
                <%= data.ip %>
              </td>
              <td
                class="px-6 py-4 whitespace-nowrap text-base text-gray-500 status"
                id="status-<%= data._id %>"
              >
                <%= data.status ? 'Chặn ' : 'Cho phép' %>
              </td>
              <td
                class="px-6 py-4 whitespace-nowrap text-base text-base font-medium"
              >
                <button
                  id="blockBtn<%= data._id %>"
                  class="blockBtn text-white font-bold py-2 px-4 rounded text-sm"
                  data-id="<%= data._id %>"
                  data-status="<%= data.status %>"
                >
                  <%= data.status ? 'Chặn ' : 'Cho phép' %>
                </button>

                <button
                  id="detailBtn<%= data._id %>"
                  class="detailBtn text-white font-bold py-2 px-4 rounded text-sm bg-green-500 hover:bg-green-600"
                  data-id="<%= data._id %>"
                >
                  <a href="/ip/<%= data._id %>/domain"> Chi tiết</a>
                </button>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>

    <script>
      let $ = document.querySelector.bind(document);
      let $$ = document.querySelectorAll.bind(document);

      function updateButtonStyle(button, status) {
        if (status) {
          button.textContent = "Cho phép";
          button.classList.remove("bg-red-500", "hover:bg-red-600");
          button.classList.add("bg-green-500", "hover:bg-green-600");
        } else {
          button.textContent = "Chặn";
          button.classList.remove("bg-green-500", "hover:bg-green-600");
          button.classList.add("bg-red-500", "hover:bg-red-600");
        }
      }

      function updateIpStatus(domainId, newStatus) {
        fetch(`/updateIp/${domainId}`, {
          method: "PATCH",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ status: newStatus }),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("Cập nhật trạng thái thành công", data);
          })
          .catch((error) => {
            console.error("Lỗi khi cập nhật trạng thái", error);
          });
      }

      // Khởi tạo trạng thái ban đầu cho các nút
      $$(".blockBtn").forEach((btn) => {
        const status = btn.dataset.status === "true";
        updateButtonStyle(btn, status);
      });

      // Xử lý nút "Cho phép tất cả domain truy cập"
      $("#allowAllBtn").addEventListener("click", function () {
        $$(".blockBtn").forEach((btn) => {
          const domainId = btn.dataset.id;
          const statusElement = $(`#status-${domainId}`);

          statusElement.textContent = "Cho phép";
          updateButtonStyle(btn, true);
          updateIpStatus(domainId, true);
        });
      });

      // Xử lý nút "Chặn tất cả domain truy cập"
      $("#blockAllBtn").addEventListener("click", function () {
        $$(".blockBtn").forEach((btn) => {
          const domainId = btn.dataset.id;
          const statusElement = $(`#status-${domainId}`);

          statusElement.textContent = "Chặn";
          updateButtonStyle(btn, false);
          updateIpStatus(domainId, false);
        });
      });

      // Xử lý nút chặn/cho phép cho từng domain
      $$(".blockBtn").forEach((btn) => {
        btn.addEventListener("click", function () {
          const domainId = this.dataset.id;
          const currentStatus = this.dataset.status === "true";
          const newStatus = !currentStatus;
          const statusElement = $(`#status-${domainId}`);

          statusElement.textContent = newStatus ? "Cho phép" : "Chặn";
          updateButtonStyle(this, newStatus);
          this.dataset.status = newStatus.toString();
          updateIpStatus(domainId, newStatus);
        });
      });
    </script>
  </body>
</html>
